@use '../styles//setup/variables' as variables;

.header {
    background-color: var(--clr8);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .h1 {
        font-family: goodVibes;
    }

    .button {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        font-size: 1.5rem;
        border-radius: 50%;

        transition: all .2s ease-in-out;
        &:hover {
            scale: 1.2;
        }
    }

    h3 {
        font-family: goodVibes;
        font-size: 1.3rem;
        display: none;

        @media(min-width: variables.$tablet) {
            display:block;
        }
    }
}